.side-box
  = render partial:"side_box"

.main-box
  .main-box__header
    .current_group
      .current_group__name
        = @group.name
      %ul.current_group__members
        Member :
        - @group.users.each do |user|
          %li.member-list
            = user.name
    .edit-btn
      = link_to 'Edit',edit_group_path(@group), class: 'edit-link'

  .messages
    =render @messages

  .form
    = form_for [@group, @message], id: 'new_message'  do |f|
      = f.text_field :content, id: 'form__message', class: 'form__message', placeholder: ' type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', id: 'form__submit', class: 'form__submit'
